@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    background-image: url("https://images.unsplash.com/photo-1476820865390-c52aeebb9891?q=80&w=4170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
ul{
    display: flex;
    flex-direction: row;
    margin-top: 50vh;
}
li{
    margin: auto;
    text-align: center;
    list-style-type: none;
}
a {
    font-weight: 900;
    font-size: xxx-large;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: rgb(147, 149, 149);
    outline: none;
    text-decoration: none;
}